@import "tailwindcss";

html,
body {
  max-width: 100dvw;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Drop{
  box-shadow: 30px 30px  rgba(0, 0, 0, 0.2);
}
.Drop1{
  box-shadow: -30px 30px  rgba(0, 0, 0, 0.2);
}
main{
  font-size: 15px;
  color: rgb(84, 84, 84);
}